<app-header></app-header>
<div class="profileContainer">

  <div class="profileHead">
    <img width="75px" class="img-fluid rounded-circle" style="position: relative;
    top: 95px;
    left: 10px;"
         src="{{user.photoUrl}}" alt="user image">


    <div class="info">
      <i class="fa-user fa font-xl"> {{user.firstName}} {{user.lastName}}</i>
      <i class="icon-location-pin icons font-xl d-block mt-4"> {{user.city}} </i>
      <i class="icon-phone icons font-xl  d-block mt-4"> {{user.phone}} </i>
    </div>

    <p class="position-relative about">About</p>

  </div>

  <div class="profileBody position-relative">

    <b>About this pro</b><br>

    <textarea disabled>Bio goes here</textarea>

    <button (click)="startProject(temp)" data-toggle="modal" class="btn btn-outline-primary appointmentBtn">Make an
      appointment
    </button>
    <ng-template #temp>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Make an Appointment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img width="75px" class="img-fluid rounded-circle"
             src="{{user.photoUrl}}" alt="user image">
        &nbsp; <i class="fa-user fa font-xl"> {{user.firstName}} {{user.lastName}}</i>
        &nbsp;&nbsp;&nbsp; <i class="icon-location-pin icons font-xl d-block mt-4"> {{user.city}} </i>
        &nbsp;&nbsp;&nbsp;<i class="icon-phone icons font-xl  d-block mt-4"> {{user.phone}} </i>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Service</label>
          <div class="col-md-9">
            <p class="form-control-static">{{user.category}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Date </label>
          <div class="form-check"><input type="date" name="date" [(ngModel)]="appointmentDate"></div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 col-form-label">How do you want to your work to be done?</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="radio1" id="radio1" name="radios"
                     [(ngModel)]="contactWay" value="Pro comes to your given location">
              <label class="form-check-label" for="radio1">
                Pro comes to your given location
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="radio2" id="radio2" name="radios"
                     [(ngModel)]="contactWay" value="You go to the pro's location">
              <label class="form-check-label" for="radio2">
                You go to the pro's location </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="radio2" id="radio3" name="radios"
                     [(ngModel)]="contactWay" value="As pro suggests">
              <label class="form-check-label" for="radio3">
                As pro suggests </label>
            </div>
          </div>
        </div>
        <!--<div class="form-group row">-->
        <!--<label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>-->
        <!--<div class="col-md-9">-->
        <!--<input type="file" id="file-multiple-input" name="file-multiple-input" multiple="">-->
        <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Additional Note</label>
          <div class="col-md-9">
            <textarea [(ngModel)]="note"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="upload-group">
            Upload File
            <input type="file" class="upload-group" id="file" (change)="onFileSelected($event)">
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmAppointment()">Confirm Appointment</button>
      </div>
    </ng-template>

    <div class="col-6 text-right">
      <!--modal-->
      <button (click)="openModal(template)" data-toggle="modal" class="btn btn-outline-primary contactBtn">Contact this
        pro
      </button>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Send Message</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Send your queries or information to your pro: {{user.firstName}} {{user.lastName}}</p>
          <input class="form-control input-lg" placeholder="Enter Message Title" [(ngModel)]="msgTitle" name="msgTitle"
                 type="text"><b></b>
          <input class="form-control input-lg" placeholder="Type your message here" [(ngModel)]="message" name="message"
                 type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="contactPro()">Send Message</button>
        </div>
      </ng-template>
      <p class="position-relative about rev">Reviews and rating</p>

      <!--modal end-->
    </div>
  </div>


  <div class="sideBox">
    <b>What to expect next?</b>
    <p>Fill the form and tell the pro what you are looking for.</p><br>
    <p>Book when ready</p>
    <p>Securely book this pro on Link It</p>
    <hr>
    <button (click)="contactPro()" class="btn btn-primary">Contact this pro</button>


  </div>


  <div class="reviewRating" *ngIf="isLoggedIn">
    <input type="text" class="commentBox" placeholder="Write your comments here" [(ngModel)]="comment">
    <button class="btn btn-outline-secondary btn-sm">Cancel</button>
    <button class="btn btn-primary btn-sm" (click)="makeComment()">Comment</button>

    <div class="star-rating" style="width: 190px;">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4" [(ngModel)]="rating">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3" [(ngModel)]="rating">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2" [(ngModel)]="rating">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1" [(ngModel)]="rating">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"
               (onclick)="makeRating('5')"></label>


      </div>
    </div>
    <app-spinner *ngIf="loadSpinner"></app-spinner>

  </div>

  <div class="col-sm-6 col-md-4 position-relative" *ngFor="let cmt of allComments" style="    bottom: 245px;
    left: 445px;">

    <img width="40px" class="img-fluid rounded-circle float-left"
         src="{{cmt.photoUrl}}" alt="user image">
    <b> &nbsp; {{cmt.fullName}} </b> <span>{{cmt.date |date}} </span> <br>
    &nbsp;&nbsp;{{cmt.comment}}
  </div>

</div>

<!--<button class="btn btn-primary" (click)="fileInput.click()">Click</button>-->
<!--<input #fileInput type="file" (change)="chooseFiles($event)" style="display:none;" />-->

<!--<img style="height: 400px; width: 400px;" src="{{imgsrc | async}}">-->

<!--<div> {{ progressBarValue }}</div>-->


<!--<div class="card" style="background-color:red; width:75%">-->

<!--<div class="card-body" >-->

<!--<div class="panelImage float-left w-25 h-25"-->
<!--style="border-color:#807070;border-right-style: solid; border-bottom-style: solid">-->
<!--<img width="100px" class="img-fluid rounded-circle" style="position:fixed; top:155px;  left:400px;"-->
<!--src="{{photoUrl}}" alt="user image">-->

<!--</div>-->

<!--<div class="panelImage w-100 h-25" style="border-color:#807070; border-bottom-style: solid ">-->
<!--<div class="info" style="    width: 410px;-->
<!--height: 100px;-->
<!--position: fixed;-->
<!--left: 600px;-->
<!--top: 120px;">-->
<!--<i class="icon-user icons font-2xl d-block mt-4"> {{name}}</i>-->
<!--<i class="icon-location-pin icons font-2xl d-block mt-4"> {{location}} </i>-->
<!--<i class="icon-phone icons font-2xl d-block mt-4">{{phone}} </i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
