<app-header></app-header>
<div class="profileContainer border border-primary" style="   width: 800px;
    background-color: white;
    height: 650px;
    position: fixed;
    left: 350px;
    top: 67px;">
  <div class="card">
    <div class="card-header" style="background-color: #d9edf7">
      User Detail
    </div>
    <div class="card-body" style="height:602px;">

      <div class="panelImage float-left w-25 h-25"
           style="border-color:#807070;border-right-style: solid; border-bottom-style: solid">
        <img width="100px" class="img-fluid rounded-circle" style="position:fixed; top:155px;  left:400px;"
             src="{{photoUrl}}" alt="user image">

      </div>

      <div class="panelImage w-100 h-25" style="border-color:#807070; border-bottom-style: solid ">
        <div class="info" style="    width: 410px;
    height: 100px;
    position: fixed;
    left: 600px;
    top: 120px;">
          <i class="icon-user icons font-2xl d-block mt-4"> {{name}}</i>
          <i class="icon-location-pin icons font-2xl d-block mt-4"> {{location}} </i>
          <i class="icon-phone icons font-2xl d-block mt-4">{{phone}} </i>
        </div>
      </div>
    </div>
  </div>

</div>
