.projectNav{
  width: 100%;
  padding-left: 7px;
  border-right: 1px solid #ebedee;
  font-size: 17px;
  /*border:1px outset #999;*/
  /*-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);*/
  /*-moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);*/
}
.projectNav h3 {
  padding: 15px;
}

.nav-item{
  background-color: white;
  border-bottom: 1px solid #ebedee;
  border-top: 1px solid #ebedee;
}

