<div class="search-wrapper">

  <div class="input-group">
    <div *ngIf="categoryLoaded">
    <i  class="fa fa-spinner fa-lg mt-4 fa-spin"></i><br>
      category loading...
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select [(ngModel)]="searchWord" class="form-control form-control-sm round"
            placeholder="Which Service are you look for..." aria-label="Search for...">

      <option class="option"*ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>

    </select>
    <!--<input type="text" [(ngModel)]="searchWord"-->
    <!--style="height:50px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;"-->
           <!--class="form-control" placeholder="Which Service are you look for..." aria-label="Search for..." (click)="showCategories()">-->
    <span class="input-group-btn">
            <button (click)="search()" class="btn btn-primary"
                    style="height: 50px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;"
                    type="button">
              <i class="fa fa-search"></i> Search</button>
    </span>
  </div>
</div>
