<div id="categoryList" class="categoryList position-fixed" style="font-weight: bold; font-size:16px">
  <nav class="nav flex-sm-column ">
    <a class="nav-link text-dark active" href="#homeImp"><i class="fa fa-home"></i> Home Improvement</a>
    <a class="nav-link text-dark" href="#business"><i class="fa fa-briefcase"></i> Business</a>
    <a class="nav-link text-dark" href="#health"><i class="fa fa-user-md"></i> Health</a>
    <a class="nav-link text-dark disabled" href="#lesson"><i class="fa fa-book"></i> Lessons</a>
    <a class="nav-link text-dark disabled" href="#personal"><i class="fa fa-puzzle-piece"></i> Personal</a>
    <a class="nav-link text-dark disabled" href="#events"><i class="fa fa-calendar-plus-o"></i> Events</a>
    <a class="nav-link text-dark disabled" href="#legal"><i class="fa fa-balance-scale"></i> Legal</a>
    <a class="nav-link text-dark disabled" href="#repair"><i class="fa fa-cogs"></i> Repair and Technical Support</a>
  </nav>
</div>

<div class="subCategory position-relative" data-target="#categoryList" style="left: 656px;width: 295px;">
  <h3 name="homeImp">Home Improvement</h3>
  <nav class="nav">
    <a class="nav-link disabled" href="#">House Cleaning</a>
    <a class="nav-link disabled" href="#">Interior Designing</a>
  </nav>
  <nav class="nav">
    <a class="nav-link disabled" href="#">Carpentry</a>
    <a class="nav-link disabled" href="#">Furniture Moving</a>
  </nav>
  <hr>
  <h3 name="business">Business</h3>
  <nav class="nav">
    <a class="nav-link disabled" href="#">Accounting</a>
    <a class="nav-link disabled" href="#">Software Development</a>
  </nav>
  <nav class="nav">
    <a class="nav-link disabled" href="#">Computer Repair</a>
    <a class="nav-link disabled" href="#">Logo Design</a>
  </nav>
  <hr>
  <h3 name="health">Health</h3>
  <hr>
  <h3 name="lesson">Lessons</h3>
  <hr>
  <h3 name="personal">Personal</h3>
  <hr>
  <h3 name="events">Events</h3>
  <hr>
  <h3 name="legal">Legal</h3>
  <h3 name="repair">Repair and Technical Support</h3>
</div>
