<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <div class="row">
    <div class="col"><a href="#"> Explore </a><br></div>
    <div class="col"><a href="#"> Projects </a><br></div>
    <div class="col"><a href="#"> Messages </a><br></div>
<div class="col"><a href="javascript:;"(click)="logout()"> Logout </a></div>
  </div>
  </div>
</header>
