<app-header></app-header>
<div class="searchBox d-flex w-100" style="position:absolute; top:56px; height: 253px;background-color: #fafafa;">
  <h1 style="    font-size: 28px;
    position: fixed;
    left: 390px;
    top: 100px;
    line-height: 40px;">Hire Skilled pros for the services you need!</h1>
  <app-search></app-search>

  <div id="categoryList" class="categoryList position-fixed" style="    font-weight: bold;
    font-size: 15px;
    top: 220px;
    left: 375px;">
    <nav class="nav justify-content-center ">
      <a class="nav-link text-dark active" href="#"><i class="fa fa-home"></i> Home</a>
      <a class="nav-link text-dark" href="#"><i class="fa fa-briefcase"></i> Business</a>
      <a class="nav-link text-dark" href="#"><i class="fa fa-user-md"></i> Health</a>
      <a class="nav-link text-dark disabled" href="#"><i class="fa fa-book"></i> Lessons</a>
      <a class="nav-link text-dark disabled" href="#"><i class="fa fa-puzzle-piece"></i> Personal</a>
      <a class="nav-link text-dark disabled" href="#"><i class="fa fa-calendar-plus-o"></i> Events</a>
      <a class="nav-link text-dark disabled" href="#"><i class="fa fa-window-minimize"></i> More</a>

    </nav>
  </div>

</div>

<div class="exploreBody">

</div>
