

<div class="container content-wrapper explore-wrapper">
  <div>
    <h1>Hire Skilled pros for the services you need!</h1>
    <app-search></app-search>
    <div id="categoryList" class="categoryList">
      <nav class="nav justify-content-center ">
        <a class="nav-link text-dark active" ><i class="fa fa-home"></i> Home</a>
        <a class="nav-link text-dark" ><i class="fa fa-briefcase"></i> Business</a>
        <a class="nav-link text-dark" ><i class="fa fa-user-md"></i> Health</a>
        <a class="nav-link text-dark disabled"><i class="fa fa-book"></i> Lessons</a>
        <a class="nav-link text-dark disabled" ><i class="fa fa-puzzle-piece"></i> Personal</a>
        <a class="nav-link text-dark disabled" ><i class="fa fa-calendar-plus-o"></i> Events</a>
        <a class="nav-link text-dark disabled" ><i class="fa fa-window-minimize"></i> More</a>
      </nav>
    </div>
  </div>
</div>

<div class="exploreBody">

</div>
