.projectTable{
  padding: 30px 45px;
}

.projectTable table {
  width: 100%;
}



.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}
