<app-header></app-header>
<!--https://stackoverflow.com/questions/4620239/css-whats-a-good-way-to-create-a-raised-box-effect-->
<div class="projectNav">
  <b>Projects</b>
  <ul class="nav flex-column nav-responsive" style="    margin-top: 20px;
">
    <li class="nav-item">
      <a class="nav-link active" href="#/myProjects">All Projects <i class="fa fa-angle-right angle1"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/myProjects/pending">Pending Projects<i class="fa fa-angle-right angle2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link">My Schedules <i class="fa fa-angle-right angle3"></i></a>
    </li>

  </ul>
</div>

<div class="projectTable">
  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>#</th>
      <th>Appointment Id</th>
      <th>Appointment Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of allProject;let i=index" [attr.data-index]="i" data-toggle="modal">
      <th scope="row">{{i+1}}</th>
      <td>{{data.appointmentId}}</td>
      <td>{{data.appointmentDate}}</td>
      <td>{{data.status}}</td>
      <td>
        <button  style="border: none;background-color:white"><i class="fa fa-edit"></i>
        </button>
        &nbsp; &nbsp;
        <button  style="border: none;background-color:white"><i class="fa fa-trash"></i>
        </button>
      </td>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Project Detail</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>Full Name</b>
          <p>{{fullName}}</p>
          <b>Email</b>
          <p>{{email}}</p>
          <b>Appointment ID</b>
          <p>{{data.appointmentId}}</p>
          <b>Contact Way</b>
          <p>{{data.contactWay}}</p>
          <b>Additional Note</b>
          <p>{{data.note}}</p>
          <b>Status</b>
          <p>{{data.status}}</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">
            Close
          </button>
        </div>
      </ng-template>

    </tr>

    </tbody>
  </table>
</div>
